.tic-tac-board {
  padding: 8px;
}

.tic-tac-board__row {
  margin: 0 calc(12.5% - 24px);
}

.tic-tac-board__row:after {
  clear: both;
  content: '';
  display: table;
}

.tic-tac-board__row:nth-child(1) .square:nth-child(1),
.tic-tac-board__row:nth-child(1) .square:nth-child(2),
.tic-tac-board__row:nth-child(1) .square:nth-child(3) {
  border-top: none;
}

.tic-tac-board__row:nth-child(3) .square:nth-child(1),
.tic-tac-board__row:nth-child(3) .square:nth-child(2),
.tic-tac-board__row:nth-child(3) .square:nth-child(3) {
  border-bottom: none;
}

.tic-tac-board__row:nth-child(1) .square:nth-child(1),
.tic-tac-board__row:nth-child(2) .square:nth-child(1),
.tic-tac-board__row:nth-child(3) .square:nth-child(1) {
  border-left: none;
}

.tic-tac-board__row:nth-child(1) .square:nth-child(3),
.tic-tac-board__row:nth-child(2) .square:nth-child(3),
.tic-tac-board__row:nth-child(3) .square:nth-child(3) {
  border-right: none;
}
